---
layout: home
---

<!--Experience Highlighting-->
<div class="user-details">
<h2> Experience Highlight </h2>
<!--UW Undergrad RA-->		
	<h2>UW Undergrad Research Assistant</h2>
	<p align="center">
		10/2020 - Present
	</p>
	
<p style="text-align: left;">
	<ul>
		<li>Design algorithms for natural language topic modelling in bilingual corpora</li>
		<li>Approach statistically on cognition reflective psycholinguistic pragmatics</li>
		<li>Collaborate with colleagues from UW Allen School of Computer Science</li>
	</ul>
</p>

<!--DSC-->	
	<h2>Google Developer Student Clubs Lead</h2>
	<p align="center">
		08/2020 - Present
	</p>
	
<p style="text-align: left;"> 
	<ul>
		<li>Organize virtual events with Google developers and Women Techmakers</li>
		<li>Forge a welcoming developer community learn and connect</li>
		<li>Check out our past and upcoming <a href="https://dsc.community.dev/university-of-washington/">events</a></li>
	</ul> 
</p>
	
<!--Algorithm Engineer Intern at Tsinghua Tongfang-->	
	<h2>Algorithm Engineer Intern at Tsinghua Tongfang</h2>
	<p align="center">
		06/2019 - 09/2019
	</p>
	
<p style="text-align: left;"> 
	<ul>
		<li>Create automated system for differentiating labelled/unlabelled image data</li>
		<li>Fine tune model with Tensorflow, Caffe and Residue-Network</li>
		<li>Revise conference presentation and ensure precision in semantic translation</li>
	</ul> 
</p>

<!--App Development Club Vice President-->	
	<h2>App Development Club Vice President</h2>
	<p align="center">
		09/2019 - Present
	</p>
	
<p style="text-align: left;">
	Mentor club members in issue solving in language-specific contexts. 
	Host technical workshops and record tutorials.
	Check out our club website.<a href= "https://uwdev.app/">App Development Club</a>
</p> 
	
<p>For more details, see <a href="images/Xiang_Curriculum_Vitae.pdf" target="_blank">Xinyi's Curriculum Vitae</a>(last updated on 08/09/21)</p>

<!--Visitor Data Analysis-->	
<div class="analytics"  style="border: solid lightgrey; border-radius: 5px;">
	<h3> Visitor Data Analysis </h3>
	<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=kg1xk2auU1ZDeo2AAmAUafTWoSu3vaO0-7mrkKyK4Ow"></script>
	<p> <small> If not seeing a map, please disable the Ad block </small></p>
</div>
</div>

<!--Projects Sorted by Years -->
<div class="permlinks">
<h2>Projects</h2>
<dl>
		<dt>    
			<code>2018</code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="https://www.norfolkcollegiate.org/news/applied-computing-class-creates-app-to-make-schedules-a-breeze-">On the Calendar App</a> &nbsp;
			<code>2019</code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="https://www.facebook.com/1497687910461792/photos/a.2551166015113971/2551170878446818/?type=3&theater">DubHacks - Feel Better</a> &nbsp;<br>
			<code>2020</code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="https://youtu.be/sq3jUGeo4Bs?t=1496">Stanford Biodesign - TrialX</a> &nbsp;
			<code>2020</code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="https://github.com/Lucas-ZX-W/FacePoll">DubHacks - FacePoll</a> &nbsp;<br>
			<code>2021</code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="https://www.wwdcscholars.com/s/D3D1FB52-EC4D-4F71-87D7-B55E8EA88EF3">Swift Student Challenge - Rubikat</a> &nbsp;
		<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>	
</dl>

<!--Blogs sorted by published dates-->
	<div class="permlinks">
	<h2>Blogs</h2>
	<dl>
		{% for post in site.posts limit:3 %}
		<dt>
			<code>{{ post.date | date_to_string }}</code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>&nbsp;{% include status-indicator.html status=post.status%}
		</dt>
		{% if post.description %}
		<dd style="text-align: justify">{{ post.description | markdownify }}</dd>
		{% endif %}
		{% endfor %}
	</dl>
<!--
NOTE:now archived 
Photos
<h2>Cheers to My Photographer Friends</h2>
	<div class="pa-gallery-player-widget" style="width:80%; height:400px; display:none;"
	  data-link="https://photos.app.goo.gl/1g7S1jStavHMET6PA"
	  data-title="3 new photos by Xinyi Xiang">
	  <object data="https://lh3.googleusercontent.com/r-e1K7W5gITBZWw5krri1_ANow1DULOnJ4UIa2XIjVxUDVIQSN0u1YOzv80wki8EpixH5p9Zu-dQKO6oj_y5dW7XatDkG66hLM26uL3dhLgQhRNoMLc1jxw9rXN751R5nBZr_knXtA=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/iPP7ZOGk_PuiXY3Wb8JQ5NdV0KEnqCYl6idzZmckW9yI3CbTUzkVT7UBeudIS7GEpfKlChJqpxIPcTe0e5x7Q6lLqApeh0_nqFXZVbMRjvqmc1gA1KMCp9sFxNggYXa-3IVVnyzm9w=w1920-h1080"></object>
	  <object data="https://lh3.googleusercontent.com/TVIl-n6Mvp_OQ3cDyCAON1HsHwTt3oWjNw7Al8shNNrFyTTKlUc7OtUPzomEU_DWKBnJ7dOjzu_rD43iV4icL2B75JNOItfOimwtHBk1j3UuVTcV3dRHTzcudMMBhXj2wCcZhN-UfQ=w1920-h1080"></object>
	</div>
-->

<!--Presentations and Invited Speeches-->
<h2>Presentations and Invited Speeches</h2>
	<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/WM8msxE7kZY?autoplay=0&origin=https://www.youtube.com/watch?v=WM8msxE7kZY"
  frameborder="0"></iframe>

	<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/7D2vPd771bk?autoplay=0&origin=https://www.youtube.com/watch?v=7D2vPd771bk"
  frameborder="0"></iframe>
	
	<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/Lo2njiDd3yg?autoplay=0&origin=https://www.youtube.com/watch?v=Lo2njiDd3yg"
  frameborder="0"></iframe>
	
	
	
<h2>Find Me on These Platforms</h2>
<!--Icons from Remix Icon-->
	<a href="https://www.linkedin.com/in/xinyi-xiang">
		<img height="32" width="32" src="Icons/linkedin-box-line.png" />
	</a>
	
	<a href="https://m.cmx.im/invite/StYQneRa">
		<img height="32" width="32" src="Icons/mastodon-line.png" />
	</a>
	
	<a href="https://www.zhihu.com/people/15763730370/activities">
	<img height="32" width="32" src="Icons/zhihu-fill.png" />
	</a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r61/three.min.js"></script>
<body></body>
		
	
<!--Awards
<h2>Awards</h2>
	<ul>
		<li>Stanford Biodesign Best App</li>
		<li>Dubhacks Classic Tracks Finalists</li>
		<li>Microsoft Imagine Cup Regional Semi-Finalist</li>
		<li>AP Scholar with Distinction</li>
		<li>Washington and Lee University Alumni Book Award</li>
	</ul>
</div >-->	
